body {
  margin: 0;
  font-family: Arial;
  background: #0b132b;
  color: white;
}

.container {
  max-width: 900px;
  margin: auto;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background: #1c2541;
}

/* MENU */
.menu {
  display: none;
  position: absolute;
  top: 50px;
  left: 10px;
  background: #2a2a2a;
  padding: 10px;
  border-radius: 10px;
}

.menu.active {
  display: block;
}

.menu button {
  display: block;
  width: 100%;
  margin: 5px 0;
}

/* CARD */
.card {
  background: #1c2541;
  padding: 12px;
  margin: 10px;
  border-radius: 10px;
}

/* CHAT */
#chatBox {
  height: 220px;
  overflow-y: auto;
  background: #0b132b;
  padding: 10px;
  border-radius: 8px;
}

.row {
  display: flex;
  gap: 6px;
  margin-top: 10px;
}

.row input {
  flex: 1;
  padding: 8px;
}

.row button {
  padding: 8px;
}

/* USERS */
.user-item {
  padding: 8px;
  margin: 5px 0;
  background: #0b132b;
  border-radius: 6px;
}

/* MESSAGE */
.msg {
  padding: 6px;
  margin: 5px 0;
  background: #0b132b;
  border-radius: 6px;
}

/* BUTTONS */
button {
  cursor: pointer;
}